/* Clientes.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.form-group-custom {
    margin-bottom: 1.5rem;
}

.custom-input {
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.page-title-box {
    background: #f8f9fa;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
}

.page-title {
    font-size: 1.75rem;
    font-weight: 500;
}

.breadcrumb {
    background: transparent;
    padding: 0;
    margin-bottom: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.breadcrumb a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.header-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.btn-lg {
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
}

.btn-block {
    width: 100%;
}

.alert {
    margin-top: 1rem;
}

.table-centered td, .table-centered th {
    text-align: center; /* Cambiado a center para que el contenido esté centrado */
}

.table {
    width: 100%;
    border-collapse: collapse; /* Asegura que los bordes se colapsen en uno solo */
}

.table th, .table td {
    border: 1px solid #dee2e6; /* Color de borde para las celdas */
    padding: 0.75rem; /* Espaciado interno */
    vertical-align: top; /* Alineación vertical superior */
}

.table th {
    background-color: #6a6b70; /* Color de fondo oscuro para los encabezados */
    color: #ffffff; /* Color del texto en el encabezado */
    font-weight: bold; /* Negrita para los encabezados */
}

.table td {
    background-color: #ffffff; /* Color de fondo para las celdas de datos */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa; /* Color de fondo para filas alternas */
}

.table-hover tbody tr:hover {
    background-color: #e9ecef; /* Color de fondo al pasar el ratón */
}

/* Estilo para el botón de eliminar */
.btn-danger {
    background-color: #dc3545; /* Color original del botón de eliminar */
    border: none; /* Sin borde */
}

.btn-danger:hover {
    background-color: #c82333; /* Color más oscuro al pasar el ratón */
}

.btn-editar {
    background-color: #007bff; /* Azul para el botón de editar */
    border: none; /* Sin borde */
    color: #ffffff;
}

.btn-editar:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
}

.modal-editar-empleado .modal-header {
    background-color: #555;
    color: #f1f3f5;
}

.modal-editar-empleado .modal-title {
    color: #f1f3f5;
}

.modal-editar-empleado .modal-footer {
    justify-content: flex-start;
}

.modal-header-danger {
    background-color: #dc3545;
    color: white;
}

.modal-body-custom {
    font-size: 1.2em;
}

.modal-footer .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}
