/* Container styling for the registration form */
.registerContainer {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #071e2a;
  padding: 20px;
  align-content: space-around;
}

/* Form styling to match the client login form */
.registerCard {
  max-width: 500px; /* Adjusted maximum width */
  margin: 0 auto;
  padding: 20px; /* Reduced padding */
  background-color: #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.registerTitle {
  text-align: center;
  margin-bottom: 22px;
  color: #722d10;
  font-size: 1.5rem;
}

/* Message box styling */
.message {
  font-size: 15px;
  text-align: center;
  margin-bottom: 22px;
  color: #041118;
}

/* Success message styling */
.success {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
}

/* Error message styling */
.error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
}

/* Form styling */
.registerForm {
  display: flex;
  flex-direction: column;
}

/* Grouping form fields with improved spacing */
.formGroup {
  margin-bottom: 22px;
}

/* Form label styling */
.formLabel {
  display: block;
  font-size: 19px;
  margin-bottom: 10px;
  color: #041118;
}

/* Improved form input styling */
.formInput {
  width: 100%;
  padding: 8px; /* Reduced padding */
  font-size: 15px; /* Adjusted font size */
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #041118;
}

/* Hover and focus states for form inputs */
.formInput:hover,
.formInput:focus {
  border-color: #6e8efb;
  box-shadow: 0 0 5px rgba(110, 142, 251, 0.5);
}

/* Logo styling */
.logo {
  width: 110px;
  margin-bottom: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Enhanced submit button styling */
.submitButton {
  display: block;
  width: 100%;
  padding: 13px;
  background-color: #071e2a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 19px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 10px;
}

/* Hover and active states for the submit button */
.submitButton:hover {
  background-color: #020f16;
}

.submitButton:active {
  transform: scale(0.98);
}

/* Register button styling to differentiate from submit button */
.registerButton {
  background-color: #0f0f0f;
  display: block;
  width: 100%;
  padding: 13px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 19px;
  cursor: pointer;
  margin-bottom: 10px;
}

.registerButton:hover {
  background-color: #212322;
}
