/* Contenedor del switch */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff; 
}

/* Estilo del switch */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Ocultar el input por defecto */
.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo del slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; 
  transition: .4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  padding: 0 10px; 
}

/* Estilo del slider cuando está activado */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

/* Estilo del slider cuando el switch está activado */
input:checked + .slider {
  background-color: #2196F3; 
}

/* Estilo del círculo del slider cuando el switch está activado */
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Añadir estilos adicionales si estás en modo oscuro */
.theme-switch-wrapper.dark-mode {
  background-color: #121621; 
}

/* Estilo del slider en modo oscuro */
.theme-switch-wrapper.dark-mode .slider {
  background-color: #666; 
}

/* Estilo del slider cuando está activado en modo oscuro */
.theme-switch-wrapper.dark-mode input:checked + .slider {
  background-color: #2a2a2a; 
}

/* Estilo del círculo del slider cuando el switch está activado en modo oscuro */
.theme-switch-wrapper.dark-mode input:checked + .slider:before {
  transform: translateX(26px);
}

/* Estilo de los iconos */
.slider .icon {
  font-size: 18px; 
  color: white;
  position: absolute;
}

/* Posicionar BiMoon a la izquierda */
.slider .icon.left {
  left: 0px;
}

/* Posicionar BiSun a la derecha */
.slider .icon.right {
  right: 10px;
  color: #343621;
}
