/* Contenedor del switch */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff; /* Color del texto en modo oscuro */
}

/* Estilo del switch */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Ocultar el input por defecto */
.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo del slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Color del fondo en modo claro */
  transition: .4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  padding: 0 10px; /* Espaciado interno para colocar los iconos */
}

/* Estilo del slider cuando está activado */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

/* Estilo del slider cuando el switch está activado */
input:checked + .slider {
  background-color: #2196F3; /* Color del fondo cuando está activado */
}

/* Estilo del círculo del slider cuando el switch está activado */
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Añadir estilos adicionales si estás en modo oscuro */
.theme-switch-wrapper.dark-mode {
  background-color: #333; /* Color de fondo en modo oscuro */
}

/* Estilo del slider en modo oscuro */
.theme-switch-wrapper.dark-mode .slider {
  background-color: #666; /* Color del slider en modo oscuro */
}

/* Estilo del slider cuando está activado en modo oscuro */
.theme-switch-wrapper.dark-mode input:checked + .slider {
  background-color: #1e1e1e; /* Color de fondo en modo oscuro */
}

/* Estilo del círculo del slider cuando el switch está activado en modo oscuro */
.theme-switch-wrapper.dark-mode input:checked + .slider:before {
  transform: translateX(26px);
}

/* Estilo de los iconos */
.slider .icon {
  font-size: 18px; /* Tamaño del icono */
  color: white; /* Color del icono */
  position: absolute;
}

/* Posicionar BiMoon a la izquierda */
.slider .icon.left {
  left: 10px;
}

/* Posicionar BiSun a la derecha */
.slider .icon.right {
  right: 10px;
  color: #212636;
}
