.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #121621;
  color: white;
  position: fixed;
  top: 0;
  left: 220px; 
  width: calc(100% - 220px);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /*transition: width 0.3s ease, left 0.3s ease;*/
}

.header-container.collapsed {
  left: 70px; 
  width: calc(100% - 70px); 
}

.header-right {
  display: flex;
  align-items: center;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.header-icon {
  margin-left: 20px;
  font-size: 20px;
}

/* Espacio entre BiLogOut y DarkModeSwitch */
.header-icon:last-of-type {
  margin-right: 20px; 
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

.user-email {
  color: #6c757d;
}

.user-type {
  margin-left: 10px;
  font-style: italic;
}

.header-icon {
  margin-left: 10px;
}


.oculto{
  border: 0px;
}