/* VerticalLayout.css */

/* Estilos generales */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

/* Diseño Vertical */
.vertical-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura de la ventana del navegador */
  transition: margin-left 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #121621; /* Color de fondo del header */
  color: white;
  position: fixed;
  top: 0;
  left: 220px; /* Alinea el header con el menú */
  width: calc(100% - 220px); /* Ajusta el ancho del header según el menú */
  z-index: 1000; /* Asegura que el header esté por encima de otros contenidos */
  transition: width 0.3s ease, left 0.3s ease; /* Transiciones suaves */
}

/* Ajustes cuando el menú está oculto */
.vertical-layout.menu-hidden .header {
  width: 100%;
  left: 0;
}

.vertical-nav {
  width: 220px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: #121621;
  color: white;
  padding-top: 20px;
  border-right: 1px solid #212636;
  transition: transform 0.3s ease;
}

.vertical-nav.menu-hidden {
  transform: translateX(-100%);
}

.logo-img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.vertical-nav .nav-link {
  position: relative;
  padding: 12px 20px;
  color: #b3b9c6;
  text-decoration: none;
  font-size: 0.9em;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  margin: 5px 10px;
}

.vertical-nav .nav-link.active {
  background-color: #212636;
  font-weight: bold;
  color: white;
}

.vertical-nav .nav-link.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #04aad6;
}

.vertical-nav .nav-link:hover {
  background-color: #212636;
  color: white;
}

.nav-icon {
  margin-right: 10px;
}

.sub-menu {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-menu.active {
  display: block;
  margin-left: 20px;
}

.sub-menu li {
  margin-bottom: 5px;
}

.sub-menu .nav-link {
  padding: 8px 20px;
  font-size: 0.85em;
  text-indent: -10px;
  display: inline-block;
}

.sub-menu .nav-link:hover {
  background-color: #212636;
  color: white;
}

/* Contenido Principal */
.main-content {
  margin-left: 220px;
  padding: 20px;
  flex: 1;
  margin-top: 45px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: margin-left 0.3s ease;
}



/* Ajuste del contenido cuando el menú está oculto */
.vertical-layout.menu-hidden .main-content {
  margin-left: 0;
  width: 100%;
}

/* Pie de página */
.footer {
  background-color: #121621;
  color: white;
  padding: 15px 20px;
  text-align: center;
  margin-top: auto;
  width: calc(100% - 220px);
  margin-left: 220px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos adicionales para elegancia */
html, body {
  height: 100%;
  margin: 0;
}
