/*DE AQUI EN ADELANTE*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  overflow-y: auto !important;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: margin-left 0.3s ease;
  position: relative;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
/* CSS HEX */
colors{
  --burnt-sienna: #e28f48;
  --black: #040404;
  --merino: #f3eddd;
  --cherokee: #facc87;
  --pueblo: #722d10;
  --gold-sand: #e5b286;
  --potters-clay: #825637;
  --taupe: #473d30;
  --nandor: #53645e;
  --shuttle-gray: #545c64;
  --porsche: #eaa565;
  --black-pearl: #041118;
  --fiery-orange: #b55416;
  --nutmeg: #7c4325;
  --regent-gray: #929ca0;
  --sirocco: #768284;
  --river-bed: #4c5c60;
  --mondo: #42332a;
  --mako: #444c54;
  --outer-space: #283a3c;
  }

.vertical-nav {
  width: 180px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: #071e2a;
  color: white;
  padding-top: 5px;
  border-right: 1px solid #212636;
  transition: transform 0.3s ease;
  scrollbar-width: none;
  padding-right: 0px;
}

.vertical-nav.menu-expanded {
  width: 180px;
}

.vertical-nav.menu-collapsed {
  width: 75px;
}

/* Oculta la barra de desplazamiento en WebKit/Blink navegadores */
.vertical-nav::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.logo-img {
  width: 90px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.logo-collapsed {
  width: 50px;
  padding-right: 5px;
}

.logo-expanded {
  width: 90px;
}

.vertical-nav .nav-link {
  position: relative;
  padding: 8px 20px;
  color: #b3b9c6;
  text-decoration: none;
  font-size: 0.9em;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  margin: 2px 10px;
}

.vertical-nav .nav-link.active {
  background-color: #212636;
  font-weight: bold;
  color: white;
}

.vertical-nav .nav-link.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #53645e;
}

.vertical-nav .nav-link:hover {
  background-color: #212636;
  color: white;
}

.nav-icon {
  margin-right: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
}

.icons-only .nav-link span {
  display: none;
}

.nav-link .nav-icon {
  margin-right: 10px;
  font-size: 20px;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

.nav-link.active {
  background-color: #212636;
  font-weight: bold;
  color: white;
}

/* Contenido Principal */
.main-content {
  margin-left: 180px;
  padding: 20px;
  flex: 1;
  margin-top: 45px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.margen {
  padding: 20px;
  flex: 1;
  margin-top: 15px;
  background-color: white;
}

.main-content.collapsed {
  margin-left: 70px;
}

.footer-content.collapsed {
  margin-left: 70px;
}

.footer {
  background-color: #071e2a;
  color: white;
  padding: 15px 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 180px;
  width: calc(100% - 180px);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  /*transition: width 0.3s ease, left 0.3s ease;*/
}

.footer.collapsed {
  left: 70px;
  width: calc(100% - 70px);
}

/* Estilo del Submenú */
.sub-menu {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-menu.active {
  display: block;
  margin-left: 15px; /* Ajusta el margen izquierdo para alinear con el elemento padre */
}

.sub-menu li {
  margin-bottom: 5px;
}

.sub-menu .nav-link {
  padding: 8px 20px;
  font-size: 0.8em; /* Tamaño de fuente más pequeño */
  color: #b3b9c6; /* Color de texto del submenú */
}

.sub-menu .nav-link:hover {
  background-color: #212636;  
  color: white; /* Color de texto al pasar el ratón sobre el submenú */
}

.sub-menu .nav-link.active {
  font-weight: bold;
  color: #04aad6; /* Color de texto activo en el submenú */
}

/* MODALES */
.modal-content {
  background-color: #777777;
  color: #000000;
  /*border:white 2px dashed;*/
}

.modal .form-control {
  background-color: #5e5e5e;
  color: #fff;
  border: 1px solid #fff;
}

.modal select {
  background-color: #5e5e5e;
  color: white;
}

/* Estilo para el placeholder */
/*
.modal .form-control::placeholder {
  color: #888;
}
*/

.modal .btn-secondary {
  /*background-color: #4173ded8;*/
  /*border-color: #555;*/
  background-color: #e08609bc;
  color: white;  
}

.modal .btn-secondary:hover {
  background-color: #b76e08;
  border-color: #666;
}

.modal .btn-primary {
  background-color: #0da83e97;
  
}

.modal .btn-primary:hover {
  background-color: #1e8043;
  border-color: #666;
}

/* Estilos predeterminados para el PageTitleBox */
.page-title-box {
  background-color: #ffffff;
  color: #333333;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.page-title {
  margin: 0;
  font-size: 2em;
}

.page-subtitle {
  margin: 0;
  font-size: 1.2em;
  color: #666666;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Estilos para las Tablas */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

/*-------------------------- Dark Mode Styles--------------------------- */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode p {
  color: #bfbdbd;
}

/*
.dark-mode .vertical-nav {
  background-color: #333;
}
*/

.dark-mode .nav-link {
  color: #ffffff;
}

.dark-mode .nav-link.active {
  color: #ffffff;
}

/*
.dark-mode .header-container {
  background-color: #333;
}
*/

.dark-mode .theme-toggle-button {
  color: #bb86fc;
}

.dark-mode .main-content {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.dark-mode .dropdown-menu {
  background-color: #212636;
  color: #e0e0e0;
}

.dark-mode .dropdown-menu:hover {
  background-color: #454545;
  color: #e0e0e0;
}

.dark-mode .dropdown-item {
  background-color: #212636;
  color: #e0e0e0;
}

.dark-mode .dropdown-item:hover {
  background-color: #454545;
  color: #e0e0e0;
}


.dark-mode .footer {
  background-color: #041118;
}


/*Sub titulo*/
.dark-mode .breadcrumb {
  color: rgb(144, 144, 144); 
}

.dark-mode .breadcrumb a {
  color: rgb(144, 144, 144); 
}

.dark-mode .breadcrumb .active {
  color: rgb(144, 144, 144); 
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgb(144, 144, 144); 
}

/* Estilos del Modo Oscuro para las Tablas */
.dark-mode .table {
  background-color: #333;
  color: #ffffff;
  border-color: #555;
}

.dark-mode .table th {
  background-color: #444;

}

.dark-mode .table td {
  background-color: #555;
  color: #ffffff;
}

/* Estilos del Modo Oscuro para .card */
.dark-mode .card {
  background-color: #2b2b2b;
  color: #ffffff;
  /*border: 1px solid #444;*/
}

.dark-mode .card-header {
  background-color: #333;
  border-bottom: 1px solid #444;
}

.dark-mode .card-body {
  background-color: #1e1e1e;
}

.dark-mode .card-footer {
  background-color: #333;
  border-top: 1px solid #444;
}

.dark-mode .card-body input {
  background-color: #444;
  color: white;
}

.dark-mode .card-body select {
  background-color: #444;
  color: white;
  border-color: white;
}

.dark-mode .card-body select option {
  background-color: #444;
  color: white;
}

.dark-mode .card-body span {
  background-color: #444;
  color: white;
}

.dark-mode .card  select {
  background-color: #444;
  color: white;
}

/* Estilos opcionales para mejorar la apariencia de las tarjetas en modo oscuro */
.dark-mode .card-title {
  color: #ffffff;
}

.dark-mode .card-text {
  color: #b3b9c6;
}

/* Estilos del Modo Oscuro para PageTitleBox */
.dark-mode .page-title-box {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

.dark-mode .page-title {
  color: #ffffff;
}

.dark-mode .page-subtitle {
  color: #bbbbbb;
}


/* PAGINADOR */
.dark-mode .pagination {
  background-color: #1e1e1e;
  color: #fff;
}

.dark-mode .page-item.disabled .page-link {
  background-color: #e9ecef;
  border-color: #dee2e6;
}

/*.dark-mode .page-item {
  background-color: #444;
}*/

.dark-mode .page-link {
  background-color: rgba(255, 255, 255, 0.733);
  color: #000000;
  border-color:rgba(255, 255, 255, 0.733);
}

.dark-mode .page-link:hover {
  background-color: #555;
}

.dark-mode .page-item.active .page-link {
  background-color: #555;
  border-color: #555;
  color:white;
}

.dark-mode .page-item.active .page-link:hover {
  background-color: #2a2a2a;
  border-color: #555;
  color:white;
}


/* BUSACDOR */
.dark-mode #busqueda {
  background-color: #444;
  color: white;
  border: 1px solid #555;
}

.dark-mode #busqueda::placeholder {
  background-color: #444;
  color: rgb(136, 136, 136);
  border: 1px solid #555;
}

.dark-mode #tipoUsuario {
  background-color: #444;
  color: white;
  border: 1px solid #555;
}

/*Botonesss*/

.dark-mode .btn-primary{
  background-color: rgba(22, 36, 190, 0.546);
  /*color: rgb(170, 170, 170);*/
  color: rgb(255, 255, 255);
  border-color: rgb(46, 99, 204);
  border-width: 1px;
  border-style: solid;
}

.dark-mode .btn-primary:hover{
  background-color: rgba(22, 36, 190, 0.318);
  color: rgba(255, 255, 255, 0.725);
}

.dark-mode .btn-editar{
  background-color: #1e1e1e26;
  color: rgba(30, 136, 193, 0.961);
  border-color: rgb(154, 154, 154);
  border-width: 1px;
  border-style: solid;
}

.dark-mode .btn-editar:hover{
  background-color: rgba(0, 125, 192, 0.237);
  color: rgba(0, 125, 192, 0.961);
}

.dark-mode .btn-regresar{
  background-color: #ba7703c3;
  color: white;
  border-color: rgb(154, 154, 154);
  border-width: 1px;
  border-style: solid;
}

.dark-mode .btn-regresar:hover{
  background-color: #825301c3;
  color: rgba(255, 255, 255, 0.7);
}

.dark-mode .btn-danger{
  background-color: #1e1e1e26;
  color: rgb(255, 45, 45);
  border-color: rgb(154, 154, 154);
  border-width: 1px;
  border-style: solid;
}

.dark-mode .btn-danger:hover{
  background-color: rgba(255, 0, 0, 0.197);
  color: red;
}

.dark-mode .btn-success{
  background-color: #1e1e1e26;
  color: rgb(54, 138, 67);
  border-color: rgb(154, 154, 154);
  border-width: 1px;
  border-style: solid;
}
.dark-mode .btn-success:hover{
  background-color: rgba(18, 92, 29, 0.362);
  color: rgb(24, 137, 41);
}

.dark-mode .btn-custom-red {
  background-color: darkred;
  color: white;
  border-color: red;
}

.dark-mode .btn-custom-red:hover {
  background-color: darkred;
  border-color: darkred;
}

.dark-mode .btn-direcciones{
  background-color: #1e1e1e26;
  color:rgb(56, 155, 255);
  border-color: white;
}

.dark-mode .btn-direcciones:hover{
  background-color: rgb(39, 86, 132);
  color:rgb(56, 155, 255);
  border-color: white;
}
.dark-mode span.btn-direcciones-text:hover{
  background-color: rgb(39, 86, 132);
}

.dark-mode span.btn-direcciones-text{
  color: #04aad6;
}

span.btn-direcciones-text{
  color: white;
}

.btn-direcciones{
  color: white;
}

.dark-mode .vertical-nav{
  background-color: #041118;
}
/* Select de los filtrados*/

.dark-mode select {
  background-color: #444;
  color: white;
  border: 1px solid #555;
  padding: 5px;
  padding-left: 10px;
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMjk2NjcsNC42NjMzMkw3Ljc2NjY2LDEwLjMzMzFMMTQuMjMzMyw0LjY2MzMyIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIuIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

/*Select dentro de agregar usuarios -- empleado*/
.dark-mode .dark-mode-select__control {
  background-color: #444;
  color: white;
  border-color: white;
}

.dark-mode .dark-mode-select__menu {
  background-color: #2b2b2b;
  color: white;
}

.dark-mode .dark-mode-select__option {
  background-color: #444;
  color: white;
}

.dark-mode .dark-mode-select__option--is-focused {
  background-color: #555;
}

.dark-mode .dark-mode-select__option--is-selected {
  background-color: #666;
}

.dark-mode .dark-mode-select__single-value {
  color: white;
}

/* TextAreas*/
.dark-mode textarea {
  background-color: #444;
  color: white;
  border: 1px solid white;
}

.dark-mode textarea::placeholder {
  color: #888;
}

.dark-mode textarea:focus {
  background-color: #444;
  color: white; 
  border-color: #777; 
  box-shadow: 0 0 5px rgba(119, 119, 119, 0.8); 
}

/*fecha de registro  de agregar cliente*/
.dark-mode .dark-mode-input-date {
  background-color: #444;
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
}

.dark-mode .dark-mode-input-date::-webkit-datetime-edit {
  color: white;
}

.dark-mode .dark-mode-input-date::-webkit-datetime-edit-fields-wrapper {
  color: white;
}

.dark-mode .dark-mode-input-date::-webkit-datetime-edit-month-field,
.dark-mode .dark-mode-input-date::-webkit-datetime-edit-day-field,
.dark-mode .dark-mode-input-date::-webkit-datetime-edit-year-field {
  color: white;
}

.dark-mode .dark-mode-input-date::-webkit-inner-spin-button,
.dark-mode .dark-mode-input-date::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.dark-mode table .estatus-darkmode{
  background-color: #555;
}