 .progress-legend {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
  }
  
  .legend-color {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 3px;
  }

  /*RECUADROS SOBRE LAS GRRAFICAS*/
  
  .custom-tooltip {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .dark-mode .custom-tooltip {
  background-color: #1b1c22;
  }

  .custom-tooltip2 {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
    font-size: '20px';
    text-align: 'center';
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    align-items: 'center';
  }
  .dark-mode .custom-tooltip2 {
    background-color: #1b1c22;
  }
  

  /*INDICADORES ABAJO DE LAS GRAFICAS*/

  .dark-mode .custom-legend {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
    background-color: #1b1c22; 
    padding: 10px;
    border-radius: 5px;
  }

  .custom-legend {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
    background-color: white; 
    padding: 10px;
    border-radius: 5px;
  }

  .dark-mode .selectores {
    background-color: #15171c !important;
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .selectores {
    background-color: rgb(240, 240, 240);
    border: none;
    color: black;
    padding: 10px 15px;
    border-radius: 25px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
  }